*{
    padding: 0;
    margin: 0;
    
}

.body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.001);
    margin: 0 auto;
    width: 80%;
    min-width: 320px;
    max-width: 1160px;
}
h1 {font-size: 28px;
    color: #232D43;;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10%;

}
.list {
   
     display: flex; 
     flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    
}
.item{
    list-style: none;
    margin: 4% ;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    background-color: #35444F;;
    padding: 10px;
}
.item:hover{
    background-color:  rgba(99, 105, 110, 0.48);
    transition: 0.5s;
}

.href{
    text-decoration: none;
    color: #DBDBDB;
    font-weight: 700;
}
.item:hover .href{
    color: #010101;
    transition: 0.5s;
}